.head {
    background-color: darkorange;
    color:aqua;
    text-align: center;
    max-height: 800px;
    margin: 0 auto;
}
main{
    background-color: brown;
    color: chocolate;
    text-align: center;
    text-align: center;
    max-height: 800px;
    margin: 0 auto;
}